.App {
  text-align: center;
  margin-top: 100px;
}
.Count {
  margin-top: -22px;
}
.HCounter {
  color: dodgerblue;
  margin-right: 200px;
}
.Button-A {
  border-width: 0;
  background-color: transparent;
}
.Center {
  margin: 0 auto;
  width: max-content;
  margin-top: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Button {
  margin-top: 20px;
}
.SearchButton {
  background-color: lightseagreen;
  width: 150px;
  padding: 3px;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}
.H1 {
  margin-bottom: 20px;
  color: chocolate;
}
.User {
  margin-top: 20px;
  color: cadetblue;
  font-size: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
